.hyperLinkEmployee{
color:black !important;
}
.pageHeading{
  color:#FF9527;

  font-size:0.94vw;
}
.labelStyle{
  font-size:0.8vw;
  margin-bottom:-1vw;
}
.labelStyle1{
  font-size:0.8vw;
  margin-bottom:-1vw;
}
.empName{
  color:#FF9527;
 position:relative;
 top:-0.7vw;
  font-size:0.77vw;
  text-align:center;
}
.pagination{
position:relative;
bottom:-0.2vw;
right:-57vw;
font-size:0.8vw;
  color:grey;
}

.empDesign{
margin-top:0.5vw;
font-size:0.8vw;
color:#566573  ;
}
.empId{
margin-top:-1vw;
font-size:0.8vw;
color:#787878;
}
.empPhone{
font-size:0.8vw;
color:#787878;
position:relative;
top:-1vw;
}
.hrStyle{
  background-color:#FF9527 !important;
  margin-top:-1vw;
  font-size:1vw;
}
.overtimeDiv{
  margin-left:8vw;
  color:grey;
}
.enableBtn{
  margin-left:2vw;
  height:2vw;
  width:4.5vw;
  font-size:0.8vw;
}

.disableBtn{
  margin-left:1vw;
  height:2vw;
  width:4.5vw;
  font-size:0.8vw;
}


.formStyle{
  padding-top:1.5vw;
}
#inputstyle{
  width:100%;
  height:2vw;
  font-size:0.7vw;
  box-shadow:none !important;
   border-color:#D7D7D7 !important;
}
#labelstyle{
  font-size:0.9vw;
}
#buttonstyle{
  border-color:#FF7F27 !important;
  margin-top:1vw;
  color:grey;
  width:12%;
  font-size:0.9vw;
  height:2vw;
}
.inputStyle{
height:2vw;
width:50%;
font-size: 0.7vw;
box-shadow:none !important;
 border-color:#D7D7D7 !important;
}
#inputstyle1{
  width:50%;
  height:2vw;
  font-size: 0.7vw;
  margin-bottom:1vw;
  box-shadow:none !important;
   border-color:#D7D7D7 !important;
}
